@CHARSET "UTF-8";

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

#item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

#item td, #item th {
    border: 1px solid #ddd;
    fonr-size: 16px;
}

#item tr:nth-child(even){background-color: #f2f2f2;}

#item tr:hover {background-color: #ddd;}

#item th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#4d79ff;
    color: white;
}
.scrollit {
    overflow:scroll;
    height:450px;
   	/* background: linear-gradient(to top right, #ffffff 10%, #ffff99 80%); */
   	/* background: linear-gradient(to top, #ffffff -22%, #ffffcc 132%); */
   	font-size: 20px;
}

tbody div{
    overflow:scroll;
    height:500px;
}
div.ex1 {
    width:500px;
    margin: auto;
    
}